/* Estilos principais do body */
body { 
  margin: 0; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100vh;
  background-image: url("../assets/background/pokemon-bg.jpg");
  background-size: contain;    
  background-position: unset;  
  background-repeat: repeat-x; 
}

/* Estilos para o canvas do jogo */
#game-canvas {
  display: block;
  width: 70%;
  height: auto;
  image-rendering: pixelated;
}

/* Estilos para a tela de introdução */
#intro-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#intro-text {
  font-size: 48px;
  font-weight: bold;
  animation: flicker 1.5s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
