/* pokemon.css */
@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PokemonFont';
  src: url('../assets/fonts/pokemon_fire_red.ttf') format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/images/background/pokemon-bg.jpg");
  background-size: contain;
  background-repeat: repeat-x;
}

/* Estilos para o canvas do jogo */
canvas {
  display: block;
  width: 70%;
  height: auto;
  image-rendering: pixelated;
}

#theme-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 6px 12px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  image-rendering: pixelated;
}

#theme-button:hover {
  background-color: #fff;
  color: #ff0000;
  border-color: #ff0000;
}

#theme-button:active {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}